<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Inicio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Menú de Inicio Minimarket</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/inicar_sesion">INICIO SESION</a></li>
            <li><a href="/Registro_usuario">REGISTRO DE USUARIO</a></li>
            <li><a href="/Registro_trabajador">REGISTRO DE TRABAJADOR</a></li>
            <li><a href="/Cambio_contrasena">CAMBIO DE CONTRASEÑA</a></li>
            <li><a href="/Consultar_productos">CONSULTAR PRODUCTO</a></li>
            <li><a href="/carrito_compras">CARRITO DE COMPRAS</a></li>
            <li><a href="/Chat_Linea">CHAT EN LINEA</a></li>
            <li><a href="/Stock">STOCK</a></li>
            <li><a href="/venta_cobro">VENTANA DE COBRO</a></li>
            <li><a href="/PQRS">PQR</a></li>
        </ul>
    </nav>
    <main>
        <div class="content">
            <img src="image/minimarketbetania.jpg" alt="Minimarket" class="centro-imagen">
        </div>
    </main>    
    <footer>
        <p>© 2024 Daniel Leonardo Correa Arango  - Proyecto Minimarket Betania</p>
    </footer>
</body>
</html>
